/* Tüm ekran boyutları için genel ayarlar */
body {
  overflow: hidden;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.custom-div {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  z-index: 1;
  padding: 15px;
  text-align: center;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
}

.social-icons img {
  width: 30px;
  margin: 0 5px;
}

.top-bar {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  min-width: 500px;
  max-width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  z-index: 1;
  padding: 15px;
  text-align: center;
  line-height: 50px;
}

.top-bar-text {
  font-weight: bold;
  font-size: 16px;
}

/* Büyük ekranlar (dizüstü ve masaüstü) için ayarlar */
@media (min-width: 1200px) {
  .custom-div {
    width: 250px;
  }

  .profile-image {
    width: 120px;
    height: 120px;
  }

  .social-icons img {
    width: 35px;
  }

  .top-bar {
    width: 600px;
    min-width: 600px;
  }
}

/* Orta boyutlu ekranlar (tabletler) için ayarlar */
@media (max-width: 1199px) and (min-width: 768px) {
  .custom-div {
    width: 180px;
  }

  .profile-image {
    width: 90px;
    height: 90px;
  }

  .social-icons img {
    width: 25px;
  }

  .top-bar {
    width: 400px;
    min-width: 400px;
  }
}

/* Küçük ekranlar (cep telefonları) için ayarlar */
@media (max-width: 767px) {
  .custom-div {
    top: 100px; /* custom-div'in yerini değiştirdik */
    right: 10px;
    width: 150px;
    padding: 10px;
    z-index: 2; /* Üst üste binmeyi engellemek için z-index ayarlandı */
  }

  .profile-image {
    width: 80px;
    height: 80px;
  }

  .social-icons img {
    width: 20px;
  }

  .top-bar {
    top: 10px; /* top-bar'in yerini değiştirdik */
    width: 90%;
    min-width: unset;
    padding: 10px;
    line-height: 1.2em;
    z-index: 1; /* Üst üste binmeyi engellemek için z-index ayarlandı */
  }

  .top-bar-text {
    font-size: 14px;
    white-space: normal;
  }
}
